@model CondosmartWeb.Models.ReservaViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ReservaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaId" class="control-label"></label>
                <input asp-for="AreaId" class="form-control" />
                <span asp-validation-for="AreaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoradorId" class="control-label"></label>
                <input asp-for="MoradorId" class="form-control" />
                <span asp-validation-for="MoradorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitanteId" class="control-label"></label>
                <input asp-for="VisitanteId" class="form-control" />
                <span asp-validation-for="VisitanteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CondominioId" class="control-label"></label>
                <input asp-for="CondominioId" class="form-control" />
                <span asp-validation-for="CondominioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SindicoId" class="control-label"></label>
                <input asp-for="SindicoId" class="form-control" />
                <span asp-validation-for="SindicoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
