# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.log
*.vsidx
*.v2

# Build
**/bin/
**/obj/

# Rider / VSCode
.idea/
.vscode/

# ASP.NET static web assets
*.staticwebassets.*
